.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.hotel-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: 56.5dvh;
}

.hotel-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.hotel-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply bg-white;
  padding: 0px;
  border-radius: 8px;
  border: 0px;
  height: 700px;
  min-width: 500px;
  width: 50%;
  overflow-y: auto;

  form {
    width: 90%;
    height: 100%;
    font-size: 1.2rem;
    border-radius: 4px;
    @apply bg-white;
  }
  legend {
    font-size: 1.5rem;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px !important;
  padding: 10px;
  @apply bg-blue-700;

  h1 {
    font-size: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
}

.modal-header-item {
  width: 30%;
  height: 100%;
  border-radius: 4px 0px 0px 0px;
  margin: 10px;
  img {
    object-fit: contain;
    height: 100%;
    width: auto;
  }
}

.modal-header-title {
  width: auto;
  font-size: x-small;
}

.modal-center {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  margin: 0.8% 0 ;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
  min-width: 400px;
  
}

.styled-table thead tr {
  @apply bg-gray-200;
  color: #000;
  text-align: left;
  font-weight: 700;
}

.styled-table th,
.styled-table td {
  padding: 6px 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.styled-table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
}

.styled-table tbody tr:hover {
  @apply bg-gray-100;
  cursor: pointer;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: transparent;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 0 3%;
  width: 100%;
}


.form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 25%;
  }
  .form-item {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3px;
  }

  span {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
  }
}

#place-picker-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#place-picker-container {
  text-align: left;
}

.form-item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}

.form-item label {
  text-align: right;
  padding-right: 10px;
}

.form-item span,
.form-item .form-img {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-item .form-img img {
  max-width: 100%;
  height: 230px;
  margin-bottom: 10px;
}

.form-box label {
  display: block;
  font-weight: bold;
  color: #333;
  width: 20%;
}

.form-box input,
.form-box select,
.form-box textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  color: #333;
}

.form-row .form-item{
  span {
    width: 80%;
  }
  label {
    width: 20%;
  }
  
}
.btn-create {
  @apply bg-blue-700 text-white font-bold rounded;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 40px;

  &:hover {
    @apply bg-blue-900 transition ease-out;
  }
}

.btn-update {
  @apply bg-orange-400 text-white font-bold rounded;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 40px;
  margin-right: 3px;
  &:hover {
    @apply bg-orange-700 transition ease-out;
  }
}

.btn-save {
  @apply bg-green-500 text-white font-bold rounded;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 40px;
  margin: 0 3px;
  &:hover {
    @apply bg-green-700 transition ease-out;
  }
}

.btn-delete {
  @apply bg-red-600 text-white font-bold rounded;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 40px;
  margin-right: 3px;
  &:hover {
    @apply bg-red-900 transition ease-out;
  }
}

.btn-close {
  @apply bg-gray-400 text-white font-bold rounded;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 40px;
  margin-left: 3px;
  &:hover {
    @apply bg-gray-600 transition ease-out;
  }
}
