/* ./flightDashboard.css */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.flight-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: 56.5dvh;
}

.flight-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.flight-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  height: 1.8rem;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  @apply bg-blue-700;
  h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
}

.btn-create {
  @apply bg-blue-700 text-white font-bold rounded;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 40px;

  &:hover {
    @apply bg-blue-900 transition ease-out;
  }
}

.btn-update {
  @apply bg-orange-400 text-white font-bold rounded;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 40px;
  margin-right: 3px;
  &:hover {
    @apply bg-orange-700 transition ease-out;
  }
}

.btn-save {
  @apply bg-green-500 text-white font-bold rounded;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 40px;
  margin: 0 3px;
  &:hover {
    @apply bg-green-700 transition ease-out;
  }
}

.btn-delete {
  @apply bg-red-600 text-white font-bold rounded;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 40px;
  margin-right: 3px;
  &:hover {
    @apply bg-red-900 transition ease-out;
  }
}
