@tailwind base;
@tailwind components;
@tailwind utilities;

.header-upper {
  @apply bg-gray-200 text-black;
  height: 80px;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-under {
  height: 50px;
  @apply bg-blue-600 text-white;
}

.header-container {
  display: flex;
  width: 100dvw;
  height: 50px;
}

.header-box {
  display: flex;
  height: 100%;
}

.logo-box {
  width: 15%;
}

.logo {
  margin-left: 10px;
  height: 100%;
  width: auto;
  object-fit: contain;
}

.status-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  width: 85%;
  height: 100%;
}

.status-text {
  margin-right: 10px;
}

.profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.nav-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

nav {
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  margin-left: 20%;
  width: 80%;
  height: 100%;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    position: relative;
  }
  p {
    font-size: 1rem;
    margin: 0;
  }
}
.nav-link {
  @apply text-white hover:text-blue-200 transition duration-300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dropdown-content {
  @apply flex flex-col absolute top-full left-0 right-0 bg-blue-200 text-white transition ease-out z-50;
  a {
    @apply flex justify-center items-center text-white no-underline transition h-12 w-full;
    height: 50px;

    &:hover {
      @apply bg-blue-600;
    }
  }
}
